

html {
  height: 100%;
}

body{
  background-image: linear-gradient(#064663, #041C32);
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




.wrapper{
  color: #FFE3D8;
  display: inline ;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: minmax(60px, auto);
}

.wrapper > div{
  padding: 1em;
}

/*Header*/
.header{
  color: #c29c98;
  grid-column: 1/4;
  text-align: left;
  margin-left: 2em;
}


/*Login*/
.login {
  text-align: center;
  height: 510px;
  grid-column: 1/4;
}

/*Login button*/
a {
  text-decoration: none;
  border: 3px solid #c29c98;
  color: transparent;
  padding: 40px 80px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
  bottom: 20px;
}
a:before {
  content: "Logga in";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c29c98;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
a:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
a:after {
  content: "Logga in";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #041C32;
  background: rgb(190, 190, 190);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
a:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}


